<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><u>For The Public</u></h1>
    <p class="lead font-italic"> The first principle of a free society is an untrammeled flow of words in an open forum. ~ Adlai E. Stevenson</p>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="posts">
			<div class="col-12">
				<%= render @posts %>
			</div>
		</div>
	</div>
</div>


