<div class="centered-material">
	<div class="col-10 offset-1">
		<h1 class="text-center">Create Discussion</h1>
		<%= form_with model: @post, local: true do |f| %>
			<div class="form-group">
				<%= f.label :content %>
				<%= f.text_field :content, placeholder: 'Content', class: 'form-control' %>	
			</div>
			<%= f.submit class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>