.navbar {
	background: inherit;
}
.navbar-brand {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: underline;
}
.names_of_users {
	border: 2px solid black;
	text-align: center;
	height: auto;
	width: auto;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: underline;
	flex-direction: column;

	h3 {
		margin: 10px;
	}
}



